extends layout

block content
  div(id="banner")
    h1(class="website_title") #{website_title}
    h3(class="website_description") #{website_description}

  div(id="navigation")
    span
      a(href='/' class="#{categoryId == 0 ? 'current': ''}") 首页
    - for (let i = 0; i < categories.length; i++) {
    span
      a(href="/?cate_id=#{categories[i].id}" class="#{categories[i].id == categoryId ? 'current' : ''}") #{categories[i].name}
    - }

  div(class="main_body")
    div(class="articles_box")
      - console.log(articles)
      - for (let i = 0; i < articles.length; i++) {
      div(class="article")
        h3(class="title")
          a(href="/article?article_id=#{articles[i].id}") #{articles[i].title}
        div(class="date") #{articles[i].date}
        div(class="content") #{articles[i].content}
        div(class="tags")
          b 标签：
          - for (let j = 0; j < articles[i].Tags.length; j++) {
          span
            a(href="/?tag_id=#{articles[i].Tags[j].id}") #{articles[i].Tags[j].name}
          - }
      - }
      
      div(class="pagination")
        - for (let i = 0; i < pagination.length; i++) {
        -   if (page == pagination[i].page) {
        span
          b(class="current") #{pagination[i].tag}

        -   } else {

        span
          a(href="#{pagination[i].link}") #{pagination[i].tag}

        -   }
        - }
        


    div(class="tags_box")
      ul
        - for (let i = 0; i < tags.length; i++) {
        -   if (tagId == tags[i].id) {
        li
          b #{tags[i].name} (#{tags[i].count})
        -   } else {
        li
          a(href="/?tag_id=#{tags[i].id}") #{tags[i].name} (#{tags[i].count})
        -   }
        - }


    div(class="clear")

    div(class="footer")
      p(class="copyright") #{copyright}&copy;copyright
      p(class="company") #{company}
      p(class="email") Email: #{email}